@model IEnumerable<BuildingCompany.Models.HelperEntityes.WorksV2>

@{
    ViewData["Title"] = "MyWorks";
}

<div class="main">
    <h3>My Works</h3>
    <p>
        <a asp-action="Create">Create New</a>
    </p>

    <table>

        <tr class="headRow">
            <th> @Html.DisplayNameFor(model => model.work.id) </th>
            <th> @Html.DisplayNameFor(model => model.work.start_date)</th>
            <th> @Html.DisplayNameFor(model => model.work.end_date)</th>
            <th> @Html.DisplayNameFor(model => model.work.name)</th>
            <th> @Html.DisplayNameFor(model => model.work.description)</th>
            <th> @Html.DisplayNameFor(model => model.work.facility_id)</th>
            <th></th>
        </tr>

        <tbody>
            @foreach (var item in Model)
            {
                <tr class="tableRow">
                    <td> @Html.DisplayFor(modelItem => item.work.id)</td>
                    <td> @Html.DisplayFor(modelItem => item.work.start_date)</td>
                    <td> @Html.DisplayFor(modelItem => item.work.end_date)</td>
                    <td> @Html.DisplayFor(modelItem => item.work.name)</td>
                    <td> @Html.DisplayFor(modelItem => item.work.description)</td>
                    <td> @Html.DisplayFor(modelItem => item.work.facility_id)</td>
                    <td>
                        @Html.ActionLink("Add", "TakeToWork", new { id=item.work.id, worker_id = item.worker_id })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
